body {
    background: #f5f4f4;
    align-items: center;
    margin: 0;
}

h1{
    width: 297px;
    height: 65px;
    font-family: Satoshi;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    color: #001b26;
    margin-left: 10%;
    margin-top: 20px;
}

label{
    font-family: Satoshi;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-align: left;
 
    color: #001b26;
}

input{
    width: 345px;
    height: 50px;
    background: #ffffff;
    border: 0.5px solid #001b26;
    border-radius: 5px;
    margin-bottom: 20px;

    font-family: Satoshi;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    text-align: left;
    color: #8c8a8a;
}

#password{
    margin-bottom: 0;
}

#rol{
    border-radius: 10px;
    border-color: #04bf8a;
    width: 350px;
    height: 50px;
    font-family: Satoshi;
    font-style: normal;
    font-size: 17px;
    line-height: 30px;
    text-align: left;
    color: #001b26;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 1050px;
    margin: auto;
    margin-top: 3%;
}

#inicio{
    width: 350px;
    height: 45px;
    margin-top: 40px;
    border-radius: 10px;
    background-color: #04bf8a;
    font-family: Satoshi;
    font-style: normal;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #f5f4f4;
    cursor: pointer;
}

p{
    font-family: Satoshi;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-decoration-line: Unhandled text decoration;
    color: #001b26;
}

#Logo{
    width: 137px;
    height: 147px;
    margin-left: 30%;
    margin-top: 0px;
}

#contraseñas{
    font-family: Satoshi;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    text-decoration-line: underline;
    margin-bottom: 20px;
    color: #001b26;
}

#doc{
    width: 700px; /* Ajusta el tamaño según sea necesario */
    height: 840px;
    right: 100px;
}

.todo{
    display: flex;
    flex-direction: row;
}

#back{
    width: 350px;
    height: 46px;
    border: 1.5px solid #001b26;
    border-radius: 10px;
    font-family: Satoshi;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #001b26;
    cursor: pointer;
}

#back:hover{
    background-color: #e0f7fa;
}

